services:
  db:
    image: postgres:15-alpine
    container_name: contacts_db_container
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: contacts_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:alpine
    container_name: contacts_redis_container
    ports:
      - "6379:6379"

  api:
    build: .
    container_name: contacts_api_container
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db
      - redis

volumes:
  postgres_data:
